<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** #############.

**Fecha:** XX de octubre del 201X.

**Expediente** : XXX.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: Link con el enlace del repositorio del creador del proyecto

# Tarea 2: Clase 4

1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`
           
2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [8]:
import numpy as np
import pandas as pd
from functools import reduce

Código de solución estudiante 1

In [10]:
########### Solución 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

jk = lambda z: z+10 if z<100 else z

plist = list(map(jk, list(map(lambda x,y: x[2]*y[3], orders, orders))))
r=list(map(lambda x,y: (x[0], y), orders, plist))
r

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

In [16]:
########### Solución 2
orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

final2 = list(map(
    lambda x: (x[0], list(map(lambda x2: jk(x2[1]*x2[2]), x[1:]))), orders2))

final2

[(1, [49.96, 233.82, 404.55]),
 (2, [99.91, 404.55]),
 (3, [99.91, 274.89]),
 (4, [93.93, 208.89, 199.75])]

In [29]:
########### Solución 3
df = pd.DataFrame(orders, columns = ["Orden", "Producto", "Cantidad", "Precio"])
df

   Orden                            Producto  Cantidad  Precio
0  34587          Learning Python, Mark Lutz         4   40.95
1  98762       Programming Python, Mark Lutz         5   56.80
2  77226       Head First Python, Paul Barry         3   32.95
3  88112  Einführung in Python3, Bernd Klein         3   24.99

In [32]:
df['Total'] = (df['Cantidad'] * df['Precio'])
# df.apply(lambda x: x[4] + 10 if x[4] < 100)

df

   Orden                            Producto  Cantidad  Precio   Total
0  34587          Learning Python, Mark Lutz         4   40.95  163.80
1  98762       Programming Python, Mark Lutz         5   56.80  284.00
2  77226       Head First Python, Paul Barry         3   32.95   98.85
3  88112  Einführung in Python3, Bernd Klein         3   24.99   74.97

In [16]:
####### Solución 4
list_='the notion of a lambda function goes all the way back to the origin of computer science'
newl = list_.split()

h = list(filter(lambda j: len(j)>=4, newl))
h

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

Código de solución estudiante 2

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [1]:
# SOLUCIÓN

import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

t=list(filter(lambda x: x>=32 and x<=80,temperatures))
t

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

[35.97387961379455,
 63.211195349983264,
 73.90387696517755,
 36.982512376595906,
 68.75395211338406,
 45.86132066984196,
 36.58307493022292,
 56.322083650154724,
 33.9621930206693,
 45.29071317816652,
 74.86289938282341,
 66.51091382521807,
 46.831316244170544,
 44.55796498523391]

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations

In [16]:
########### Solución 6
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
#print(point_xy)

from functools import reduce




x=np.minimum.reduce(point_xy)
x

array([0, 2])

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........